.messagei{
  height: 6rem;
  border: 1px solid rgb(181, 181, 181);
  text-align: justify;
  display: flex;
}
.input{
  color: #000;
  font-size: large;
  margin: 1rem;
  width: 92%;
  background-color: white;
  border-radius: 0.5rem;
  border: 2px solid rgb(181, 181, 181);
  padding: 0.5rem;
}
.send{
  width: 5%;
  margin: 1rem 1rem;
  background: url("/images/send-white-icon.png");
  background-color: rgb(82, 70, 212);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0.5rem;
  text-decoration: none;
}